<!doctype html>
<html lang="en">
    <head>
        <!-- for latex rendering -->
        <script type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <!-- google analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-PMP32CMWHS"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'G-PMP32CMWHS');
        </script>
        <!-- nerdfonts -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Justin Restivo - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <a href="/index.html">Justin Restivo</a>
            </div>
            <nav>
                <a href="/index.html" class="topele">Home</a>
                <span> | </span>
                <a href="/about.html" class="topele">About</a>
                <span> | </span>
                <a href="/contact.html" class="topele">Contact</a>
                <span> | </span>
                <a href="/projects.html" class="topele">Projects</a>
                <span> | </span>
                <a href="https://www.linkedin.com/in/justinprestivo" class="topele">Linkedin</a>
                <span> | </span>
                <!--<a href="/justin_restivo_resume.pdf" class="topele">Resume</a>-->
                <!--<span> | </span>-->
                <a href="https://github.com/DieracDelta" class="topele">Github</a>
            </nav>
        </header>

        <main role="main">
            <!-- <h1>$title$</h1> -->
            $body$
        </main>

    </body>
</html>
